<ul id="msgs" style="list-style: none; min-height:400px; border: 1px solid; padding: 10px;">
    <%= for msg <- @messages do %>
        <li><strong> <%= msg.username %> : </strong> <%= msg.content %> </li>
    <% end %>
</ul>

<%= render "form.html", assigns %>